@{
    ViewData["Title"] = "UnidadResidencial";
}

<h2>UnidadResidencial</h2>

<ul>
        <li>@ViewData["ID"]</li>
        <li>@ViewData["Nombre"]</li>
        <li>@ViewData["Direccion"]</li>
        <li>@ViewData["Telefono"]</li>
        <li>@ViewData["Ciudad"]</li>
        <li>@ViewData["Estado"]</li>
</ul>